[user]
  email = <removed>
  name = <removed> 
  signingKey = <removed>
[commit]
  gpgSign = true
[init]
  defaultBranch = main
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[push]
  autoSetupRemote = true
